

<!DOCTYPE html>

<html lang="en">

  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="theme-color" content="#007bff" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <script src="https://kit.fontawesome.com/2f69883659.js" crossorigin="anonymous"></script>

    <title>Crickvision - PunchBiz</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Gantari:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="static/css/responsive.css" rel="stylesheet" />

  </head>

  <body>

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="">
              <img src="static/img/logo.png" alt="image" style="block-size: 80px; inline-size: fit-content;">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa-solid fa-bars fa-xl" style="color: #007bff;"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href=""> Documentation </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Contact </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signin">Login </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class=" slider_section ">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ">
              <div class="detail_box">
                <h1>
                  <span class="hixx">
                    elevate <br>
                  </span>
                  <span class="hixx">
                    your <br>
                  </span>
                  <span class="hixx">
                    game
                  </span>
                </h1>
                <p class="hixx">
                  "CrickVision, a cutting-edge cricket analytics tool, utilizes computer vision and machine learning to
                  provide in-depth insights on player actions, shots, and match dynamics. Coaches, players, and fans
                  benefit from customizable reports, empowering informed decisions and staying ahead in the game."
                </p>
                <a href="" class="hixx">
                  View Documentation
                </a>
              </div>
            </div>
            <div class="col-lg-5 col-md-6 offset-lg-1" style="inline-size: 400px;">
              <img src="static/img/Cricket.svg" style="inline-size: 400px;">


            </div>
          </div>
        </div>
      </section>
      <!-- end slider section -->
    </div>


    <!-- footer section -->
    <footer class="container-fluid footer_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-13 mx-auto">
            <div style="display: flex; justify-content: space-between;">
              <div>
                <p>
                  &copy; 2024 All Rights Reserved By
                  <a href="#">PunchBiz Co.</a>
                </p>
              </div>

              <div>
                <p>Made with <i class="fa-regular fa-s fa-heart" style="margin-block-end:-1px;color: #f00;"></i> by <a
                    href="https://punchbiz.co/" target="_blank">Cricvision team @PunchBiz</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!-- footer section -->


    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/scroll.js"></script>


  </body>

</html>